.about__title {
  margin: 1em 0;
  font-size: 4em;
}

.about__title:not(:first-of-type) {
  margin-top: 2.4em;
}

.about__block {
  position: relative;
  max-width: 50em;
  margin: 5em 0;
  padding: 0 2rem;
}

.about__block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.2rem;
  height: 100%;
  border-radius: 0.4em;
  background: linear-gradient(to bottom, var(--brand-color), transparent);
}

.about__subtitle {
  font-size: 2em;
}

.about__description {
  font-size: 1.6em;
}
