.contacts__title {
  font-size: 4.4em;
  line-height: 1.3em;
}

.contact__description {
  max-width: 26em;
  font-size: 2.1em;
}

.contacts__link-list {
  margin: 4em 0 0;
  padding: 0;
  list-style: none;
  font-size: 1.9em;
}

.contacts__link-list li {
  margin-top: 1em;
}
