.home {
  position: relative;
  padding-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__logo {
  width: 32em;
  height: 32em;
  margin-right: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__logo .logo {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  border: 0.3em solid var(--color);
}

.home__title {
  max-width: 10em;
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  letter-spacing: 0rem;
  word-spacing: 0.2em;
}

.home__join-button {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  border-radius: 2em;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  border: 1px solid var(--color);
  background-color: transparent;
  color: var(--color);
  transition: 0.2s;
}

.home__join-button:hover {
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  color: var(--background-color);
}
