.Home {
  position: relative;
}

/* ************************************** */
/*                 Intro                  */
/* ************************************** */

.intro {
  margin-bottom: 24vh;
  margin-top: 16vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro__title {
  font-size: 5em;
  letter-spacing: 0.2rem;
  word-spacing: 0.2em;
}

.intro__title span {
  font-size: 1.1em;
}

.intro__description {
  max-width: 30em;
  margin: 0 auto;
  font-size: 1.8em;
  line-height: 1.4em;
}

/* ************************************** */
/*                Common                  */
/* ************************************** */

.Home__section {
  text-align: center;
}

.Home__section-tile {
  font-size: 3.2em;
}

.Home__section-block {
  min-width: 20em;
  margin: 4em 0;
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--transparent);
  box-shadow: 0 0 0.2em var(--background-color);
}

.Home__section-block__subtitle {
  margin: 0;
  padding: 1rem;
  font-size: 2em;
}

.Home__section-block__description {
  font-size: 1.3em;
}
