.App {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1920px;
  transition: 0.2s;

  --background-color: var(--dark);
  --color: var(--white);
  --gray: rgb(61, 61, 61);

  background-color: var(--background-color);
  color: var(--color);
}

.App.light {
  --background-color: var(--white);
  --color: var(--black);
  --gray: #a0a0a0;
}
