.link {
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

.link:hover {
  color: var(--brand-color);
}

.link__arrow {
  display: inline-block;
  font-size: 0.9em;
  transition: transform 0.2s;
}

.link:hover .link__arrow {
  transform: translate(0.1em, -0.1em);
}
